<body>

	<!-- Header -->
	<%- include('./partials/header.ejs') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">

			<div class="col-12">
				<h2 class="products-title">Editar productos</h2>
			</div>
			

			<h2 class="col-12"> 
				<form method="post" action="/products/<%= products.id_product %>/edit" enctype="multipart/form-data">

					<div class="mb-3">
						<label for="picture_product" class="form-label">Imagen</label>
						<input type="file" class="form-control" name="picture_product" id="picture_product" >
					</div>
					<div class="mb-3">
						<label for="name" class="form-label">Nombre del producto </label>
						<input type="text" class="form-control" name="name" id="name" value="<%= products.name %>" >
					</div>
					<div class="mb-3">
						<label for="description" class="form-label">Descripción</label>
						<input type="text" class="form-control" name="description" id="description" value="<%= products.description %>" >
					</div>
					<!-- <div class="mb-3">
						<label for="dateUpload" class="form-label">Fecha de carga</label>
						<input type="date" class="form-control" name="dateUpload" id="dateUpload"> 
					</div> -->
					
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</h2>

	<!-- footer -->
	<%- include('./partials/footer.ejs') %> 
	<!-- /footer -->

</body>

</html>