<body>
	
	<!-- Header -->
	<%- include('./partials/header.ejs') %> 
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%= product.name %> </h2> 
			<p class="product-detail-description">
				<a href="/products/add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<h2 id="productEstatico">Shampoo sólido</h2>
					<img src="./images/products/ShampooSolido.png" alt="" class="product-detail-img">
					<p class="product-detail-description">
						Shampoo no líquido. Forma más amigable de lavar tu cabello. Formulado con ingredientes que limpian suavemente y aportan brillo. </p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for(let i=0; i <comments.length; i++) { %>
                            <div>
                                <img src="<%= comments[i].pictureProfile %>" alt="">
                                <div class="data">
                                    <p class="user">
                                    <strong> <a href="/users/profile"><%= comments[i].user %> </a> </strong>
                                     <%= comments[i].comment %></p>
                                </div>
                            </div>
                        <% } %>
						
					</section>
					<form class="form" action="/products" method="get">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer.ejs') %> 
	<!-- /footer -->

</body>	
</html>