<body>
	
	<!-- Header -->
	<%- include('./partials/header.ejs') %> 
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		
		<!--TITULO Y BOTON DE EDITAR-->
		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%= products.name %> </h2> 
			
			<!-- BOTON DE EDITAR-->
			
			
			<% if (locals.user && user.id_user == products.id_user) { %>
				<p class="product-detail-description">
                <a href="/products/<%= products.id_product %>/edit">Editar</a>
			</p>
              <% } %>
	
			<!-- BOTON DE BORRAR-->
			
			<% if (locals.user && user.id_user == products.id_user) { %>
				<p class="product-detail-description">
				<a href="/products/<%= products.id_product %>/delete">Borrar</a>
			</p>
			<% } %>

		</div>

		<!--DETALLE DE PRODUCTO-->
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<a href="/users/profile/<%= products.owner.id_user%>" class="product-detail-username"> Dueño: <%= products.owner.username %> </a>
					
					<img src="<%= products.picture_product %>" alt="" class="product-detail-img">
					
					<p class="product-detail-description">
						<%= products.description %> </p>
				</article>

				<!--SECCION COMENTARIOS-->
				<div class="col-12 col-lg-4">

					<section class="comments">
						
						<% for(let i=0; i <products.comments.length; i++) { %>
                            <div>
                                <img src="<%= products.comments[i].author.profile_photo %>" alt="">
                                <div class="data">
                                    <p class="user">
                                    <strong> <a href="/users/profile/<%= products.comments[i].author.id_user%>"><%= products.comments[i].author.username %> </a> </strong>
                                    	<%= products.comments[i].content %>
									</p>
                                </div>
                            </div>
                        <% } %>
					</section>

					<form class="form" action="/products/<%= products.id_product %>/comment" method="post">
						<input class="form-input" type="text" name="content" id="content" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>

					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer.ejs') %> 
	<!-- /footer -->

</body>	
</html>