<body>
	
	<!-- Header -->
	<%- include('./partials/header.ejs') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<div>

				<form method="post" action="/users/<%= users.id_user %>/edit" enctype="multipart/form-data">
					<div class="mb-3">
						<label for="username" class="form-label">Email: </label>
						<input type="email" class="form-control" id="username" name="username" value="<%= users.username %>">
					</div>
					<div class="mb-3">
						<label for="password" class="form-label">Contraseña</label>
						<input type="password" class="form-control" id="password" name="password" value="<%= users.password %>">
					</div>
					<div class="mb-3">
						<label for="remember" class="form-label">Fecha de nacimiento</label>
						<input type="date" class="form-control" id="birthdate" name="birthdate" value="<%= users.birthdate %>">
					</div>
					<div class="mb-3">
						<label for="remember" class="form-label">DNI</label>
						<input type="number" class="form-control" id="dni" id="dni" value="<%= users.dni %>">
					</div>
					<div class="mb-3">
						<label for="remember" class="form-label">Foto de perfil</label>
						<input type="file" class="form-control" id="profile_photo" name="profile_photo" value="<%= users.profile_photo %>">
					</div>
		
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>


	<!-- footer -->
	<%- include('./partials/footer.ejs') %> 
	<!-- /footer -->
</body>

</html>